<div class="container">
  <div class="box">
    <div class="left-box">
      <div class="box-animation">
        <img src="assets/images/image-about.png" alt="Beatriz's Photo">
      </div>
    </div>
    
    <div class="right-box">
      <div class="title">
        <p class="about">About</p>
        <p class="me">Me</p>
      </div>
      <div class="experience">
        <ul class="square-roll">
          <li class="square">
            <div class="small-box">
              <img class="medal" src="assets/images/medal.svg" alt="Medal">
              <p class="small-text">Experience</p>
              <p>2 Years</p>
            </div>
          </li>
          <li class="square">
            <div class="small-box">
              <img src="assets/images/code-symbol.svg" alt="Code Symbol">
              <p class="small-text">Main Skill</p>
              <p>Front-end</p>
            </div>
          </li>
          <li class="square">
            <div class="small-box">
              <img src="assets/images/book.svg" alt="Book">
              <p class="small-text">One Hobby</p>
              <p>Reading</p>
            </div>
          </li>
        </ul>
      </div>
  
      <p class="description">
        Computer Science Student, Junior Developer and passionate about technology. 
        I started my career interning with React, React Native and Typescript in a 
        project management area. After that, I interned using React, Node.js, Typescript 
        and Bootstrap to refactor a social network project. Finally, my first full-time 
        job is related to a system used on a large scale by doctors throughout Brazil, 
        where I work with Angular, Django, Typescript, Python and Bootstrap, where I can 
        effectively apply my leadership skills as the Leader of a separate project while 
        overcoming numerous challenges within my current squad.
      </p>
  
      <button><a href="https://drive.google.com/file/d/1CWYuIIZ0UYi49f0bdzRIfYNVdAVfXMy_/view?usp=sharing" target="_blank">Online CV</a></button>
    </div>
  </div>
</div>