<div class="container">
  <div class="title">
    <p class="contact">Contact</p>
    <p class="me">Me</p>
  </div>

  <div class="box-contact">
    <form>
      <div class="form-box">
        <div class="name-email">
          <input type="text" name="Name" placeholder="Full Name" required>
          <input type="email" name="Email" placeholder="Email" required>
        </div>
        <div class="text-button">
          <input type="text" placeholder="Email Subject" required>
          <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
