<div class="container">
  <div class="title">
    <p class="my">My</p>
    <p class="skills">Skills</p>
  </div>

  <div class="box-skills">
    <ul class="square-roll">
      <li class="square">
        <div class="small-box">
          <img class="rotate-scale-up" src="assets/images/html.svg" alt="Medal">
          <p>HTML</p>
        </div>
      </li>
      <li class="square">
        <div class="small-box">
          <img class="rotate-scale-up" src="assets/images/css.svg" alt="Code Symbol">
          <p>CSS</p>
        </div>
      </li>
      <li class="square">
        <div class="small-box">
          <img class="rotate-scale-up" src="assets/images/javascript.svg" alt="Book">
          <p>Javascript</p>
        </div>
      </li>
      <li class="square">
        <div class="small-box">
          <img class="rotate-scale-up" src="assets/images/typescript.svg" alt="Book">
          <p>Typescript</p>
        </div>
      </li>
      <li class="square">
        <div class="small-box">
          <img class="rotate-scale-up" src="assets/images/git.svg" alt="Book">
          <p>Git</p>
        </div>
      </li>
      <li class="square">
        <div class="small-box">
          <img class="rotate-scale-up" src="assets/images/bootstrap.svg" alt="Book">
          <p>Bootstrap</p>
        </div>
      </li>
      <li class="square">
        <div class="small-box">
          <img class="rotate-scale-up" src="assets/images/angular.svg" alt="Book">
          <p>Angular</p>
        </div>
      </li>
      <li class="square">
        <div class="small-box">
          <img class="rotate-scale-up" src="assets/images/react.svg" alt="Book">
          <p>React</p>
        </div>
      </li>
    </ul>
  </div>
</div>
