<div class="container">
  <div class="left-box">
    <p class="name-title">
      Hi, I'm Beatriz Santos
    </p>
    
    <p class="name-subtitle">
      Web Developer
    </p>

    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
      eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
      nisi ut aliquip ex ea commodo consequat.
    </p>

    <div class="social-media">
      <ul class="social-media-list">
        <li class="media-item">
          <a class="media-link" href="https://www.linkedin.com/in/beatrizodsk/" target="_blank">
            <img src="assets/images/linkedin.svg" alt="Linkedin">
          </a>
        </li>
        <li class="media-item">
          <a class="media-link" href="https://github.com/beatrizodsk" target="_blank">
            <img src="assets/images/github.svg" alt="Github">
          </a>
        </li>
        <li class="media-item">
          <a class="media-link" href="https://wa.me/5585987990103?text=Hey%20I%20saw%20your%20portfolio" target="_blank">
            <img src="assets/images/whatsapp.svg" alt="Whatsapp">
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="right-box">
    <img src="" alt="Beatriz's Photo">
  </div>

</div>
