$dark-background: #281328;
$neon-pink: #B900B9;

.container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: $dark-background;
}

.left-box {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.name-title {
    font-size: 3rem;
    font-family: poppins;
    margin-left: 10rem;
    color: white;
}

.name-subtitle {
    font-size: 2rem;
    font-family: poppins;
    margin-left: 10rem;
    color: $neon-pink;
}

.description {
    font-size: 1.5rem;
    font-family: poppins;
    margin-left: 10rem;
    margin-top: 2rem;
    color: white;
}

.social-media-list {
    display: flex;
    width: 30%;
    list-style: none;
    margin-left: 8rem;
    margin-top: 2rem;
    padding: 0;
}

.media-item {
    cursor: pointer;
    margin: 0 0 0 2rem;
}

.media-link img {
    &:hover {
        transform: scale(1.3);
        transition: 0.5s;
    }
}

.right-box {
    display: flex;
    width: 50%;
}

img {
    width: 100%;
    height: 100%;
}